@font-face {
  font-family: FuturaLight;
  src: url('assets/fonts/FuturaLightc.ttf');
}

@font-face {
  font-family: FuturaDemi;
  src: url('assets/fonts/FuturaDemic.ttf');
}

@font-face {
  font-family: FuturaMedium;
  src: url('assets/fonts/FuturaMediumc.ttf');
}

@font-face {
  font-family: FuturaBook;
  src: url('assets/fonts/FuturaBookc.ttf');
}

@font-face {
  font-family: Bebas;
  src: url('assets/fonts/AA_Bebas.ttf');
}
